@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("./assets/fonts/Agustina.woff") format("woff");
}

.container{
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  position: absolute;
  background: linear-gradient(
    -45deg,
    #673ab7 0%,
    #e91e63 20%,
    #ff4081 40%,
    #e91e63 45%,
    #ff4081 60%,
    #e91e63 80%,
    #673ab7 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}


.innerContainer{
  top: 5%;
  left: 5%;
  position: absolute;
  width: 90%;
  height: 90%;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
}

.dots {
  height: 17px;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
}

.dot1,
.dot2,
.dot3 {
  height: 100%;
  width: 17px;
  border-radius: 50%;
  margin: 0 7px 0 0;
}

.dot1 {
  background-color: #ff605c;
}

.dot2 {
  background-color: #ffbd44;
}

.dot3 {
  background-color: #00ca4e;
}

.lottiePlayer{
  margin-top: 10vh !important;
  top: 20vh;
  width: 50vw;
  height: 60vh;
}

.innerContents{
  display: flex;
  height: 100%;
}
.appContents{
  display: flex;
  flex-direction:column;
  justify-content: center;
  margin-left: 10vw;
  margin-top: -10vh;
  font-size: 20px;
}
.heading{
  font-size: 30px;
  font-family: Agustina Regular;
  position: absolute;
  left: 20px;
}
.appHeading{
 font-size: 60px;
 line-height: 120px;
}
.button {
  background-image: linear-gradient(to right,  #ff6624, #ffca75, #ffca75, #ff6624);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75), 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  /* box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75), 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  border-radius: 5px;
  letter-spacing: 1px;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  background-size: 300% 100%;
  font-weight: 600;
  padding: 12px 25px;
  transition: all .4s ease-in-out;
}

.button:hover {
  background-position: 100% 0;
}


.creditsSection{
  display: flex;
 flex-direction: column;
 margin-bottom: auto;
 margin-left: auto;
 position: absolute;
 bottom: 10px;
 width: 100%;
 text-align: center;
}
.paragraph{
  margin: 20px 0  20px;
}